// Custom.scss
// Option A: Include all of Bootstrap
$enable-rounded: false;
$enable-transitions: false;
$enable-button-pointers: false;
$primary: #ee6c4d;
$secondary: #7b2cbf;
$font-family-base: "Fira Sans Condensed";
$font-weight-base: 300;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here