// $enable-rounded: false;
$enable-cssgrid: true;
$enable-transitions: false;
$enable-button-pointers: false;
$primary: #ce4257;
$secondary: #218380;
$font-family-base: "Fira Sans";
$font-weight-base: 400;
$font-family-sans-serif: "Fira Sans", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$input-btn-focus-width: 0.15rem;